:root {
  --hover-icon: rgba(117, 117, 117, 1);
  --primary-text-color: rgba(33, 33, 33, 1);
  --logo-link-color: rgba(33, 150, 243, 1);
  --logo-color: rgba(0, 0, 0, 1);
  --primary-background-color: rgba(255, 255, 255, 1);
  --secondary-text: rgba(117, 117, 117, 1);
  --third-text: rgba(255, 255, 255, 0.6);
  --hero-color: rgba(47, 48, 58, 1);
  --active-button: rgba(24, 140, 232, 1);
  --second-background: rgba(245, 244, 250, 1);
  --color-border-heade: rgba(236, 236, 236, 1);
  --border-porfolio: rgba(238, 238, 238, 1);
  --color-mini-iconrgbargba: rgba(175, 177, 184, 1);
  --background-overlay: rgba(196, 196, 196, 1);
}

.icon-nav {
  display: block;
  height: 20px;
  width: 16px;
  margin-right: 10px;
  fill: var(--hover-icon);
}
.icon-nav-list {
  display: block;
  height: 16px;
  width: 12px;
  margin-right: 10px;
  fill: var(--hover-icon);
}

.link-nav {
  display: flex;
  align-items: center;
}
.link-nav:hover svg,
.link-nav:focus svg {
  fill: var(--logo-link-color);
}

.icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.antena {
  width: 70px;
  height: 70px;
}
.pading-list {
  margin-bottom: 50px;
}

.fottext {
  color: var(--primary-background-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.container-foter {
  display: flex;
  align-items: baseline;
}

.conect {
  margin-left: 70px;
}
.container .list-social {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-top: 20px;
}
.footer1 .link1 {
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-background-color);
}
.footer1 .link1:hover,
.footer1 .link1:focus {
  background-color: rgba(33, 150, 243, 1);
  fill: rgba(255, 255, 255, 1);
}
.footer2 .link2 {
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-background-color);
  fill: var(--color-mini-iconrgbargba);
}
.footer2 .link2:hover,
.footer2 .link2:focus {
  background-color: rgba(33, 150, 243, 1);
  fill: rgba(255, 255, 255, 1);
}
.footer2 {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.list-comandos {
  display: flex;
}

.footer3 .link3 {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(175, 177, 184, 1);
  background-color: var(--primary-background-color);
  fill: var(--color-mini-iconrgbargba);
  gap: 30px;
  border-radius: 4px;
}
.footer3 .link3:hover,
.footer3 .link3:focus {
  fill: rgba(33, 150, 243, 1);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(33, 150, 243, 1);
}
.list-social3 {
  display: flex;
  gap: 30px;
}
/*  5 дз */
.fotowork {
  display: block;
}
.box-thumb {
  display: block;
  position: relative;
}
.box-thumb::before {
  position: absolute;
  display: inline-block;
  content: '';
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  background-color: rgba(47, 48, 58, 0.8);
}
/* .box-thumb:hover::before {
  opacity: 1;
} */
.text-programe {
  margin-top: 27px;
  padding-bottom: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
/* PORTFOLIO */
.animation-portfolio {
  position: relative;
  overflow: hidden;
}

.portfolio-text {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-elements:hover .portfolio-text {
  transform: translateY(0);
  background-color: rgba(33, 150, 243, 0.9);
}
/* PORTFOLIO */
