:root {
  --hover-icon: rgba(117, 117, 117, 1);
  --primary-text-color: rgba(33, 33, 33, 1);
  --logo-link-color: rgba(33, 150, 243, 1);
  --logo-color: rgba(0, 0, 0, 1);
  --primary-background-color: rgba(255, 255, 255, 1);
  --secondary-text: rgba(117, 117, 117, 1);
  --third-text: rgba(255, 255, 255, 0.6);
  --hero-color: rgba(47, 48, 58, 1);
  --active-button: rgba(24, 140, 232, 1);
  --second-background: rgba(245, 244, 250, 1);
  --color-border-heade: rgba(236, 236, 236, 1);
  --border-porfolio: rgba(238, 238, 238, 1);
  --color-mini-iconrgbargba: rgba(175, 177, 184, 1);
  --background-overlay: rgba(196, 196, 196, 1);
}

.icon-nav {
  display: block;
  height: 20px;
  width: 16px;
  margin-right: 10px;
  fill: var(--hover-icon);
}
.icon-nav-list {
  display: block;
  height: 16px;
  width: 12px;
  margin-right: 10px;
  fill: var(--hover-icon);
}

.link-nav {
  display: flex;
  align-items: center;
}
.link-nav:hover svg,
.link-nav:focus svg {
  fill: var(--logo-link-color);
}

.icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.antena {
  width: 70px;
  height: 70px;
}
.pading-list {
  margin-bottom: 50px;
}

.fottext {
  color: var(--primary-background-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.container-foter {
  display: flex;
  align-items: baseline;
}

.conect {
  margin-left: 70px;
}
.container .list-social {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-top: 20px;
}
.footer1 .link1 {
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-background-color);
}
.footer1 .link1:hover,
.footer1 .link1:focus {
  background-color: rgba(33, 150, 243, 1);
  fill: rgba(255, 255, 255, 1);
}
.footer2 .link2 {
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-background-color);
  fill: var(--color-mini-iconrgbargba);
}
.footer2 .link2:hover,
.footer2 .link2:focus {
  background-color: rgba(33, 150, 243, 1);
  fill: rgba(255, 255, 255, 1);
}
.footer2 {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.list-comandos {
  display: flex;
}

/* .icon-social {
  width: 44px;
  height: 44px;
  background-color: var(--primary-background-color);
  border-radius: 50px;
  fill: var(--color-mini-iconrgbargba);
}
.social {
  margin-left: 12px;
  margin-top: 12px;
  width: 20px;
  height: 20px;
  align-content: center;
}

.icon-social:hover {
  background-color: rgba(33, 150, 243, 1);
  fill: rgba(255, 255, 255, 1);
}

.teamicon {
  display: flex;
  gap: 10px;
  margin-left: 30px;
  margin-top: 16px;
} */

.footer3 .link3 {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(175, 177, 184, 1);
  background-color: var(--primary-background-color);
  fill: var(--color-mini-iconrgbargba);
  gap: 30px;
  border-radius: 4px;
}
.footer3 .link3:hover,
.footer3 .link3:focus {
  fill: rgba(33, 150, 243, 1);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(33, 150, 243, 1);
}
.footer3 {
  display: flex;
  justify-content: center;
}
.list-social3 {
  display: flex;
  gap: 30px;
}
